<ion-content class="login-page">
  <div class="main-container">
    <div class="login-title">
      <h1>Login</h1>
      <p>Welcome back</p>
    </div>
    <ion-item class="input-field">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item class="input-field">
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <!-- <ion-item class="forget-password"> -->
      <ion-label>Forget Password</ion-label>
    <!-- </ion-item> -->
    <ion-button expand="full" class="login-button">Login</ion-button>
    <div class="new-user">
      <p>New user? <span>Sign up</span></p>
    </div>
  </div>
</ion-content>
